/* Animaciones de las filas */
@keyframes fadeInRow {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

tr {
  animation: fadeInRow 1s; 
}

.edit-button {
  transition: background-color 0.5s, transform 0.5s; 
}

.edit-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; 
}

.edit-button:hover {
  background-color: #0056b3; 
  transform: translateY(-3px); 
}


.table-header {
  background-color: #007bff; 
  color: #fff; 
}

.table-container {
  width: 80%; 
  margin: auto; 
}

nav {
  width: 80%; 
  margin: auto; 
}

.table-striped tbody tr:hover {
  background-color: #f8f9fa; 
  transform: scale(1.02); 
  transition: background-color 0.5s ease, transform 0.5s ease; 
}

.title-container {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px; 
  overflow: hidden; 
}

.title-container h1 {
  position: relative;
  padding-bottom: 10px;
  padding-left: 20px;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 0.8s forwards; 
}

.title-container h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50%; 
  background-color: #007bff;
}

  