<div class="table-container">
    <table class="table table-striped">
      <thead class="table-header">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">ID</th>
          <th scope="col">Usuario</th>
          <th scope="col">Detalles/Edicion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of paginatedTickets">
          <td>{{ ticket.fecha_alta}}</td>
          <td>{{ ticket.id_ticket}}</td>
          <td>{{ ticket.usuario?.usuario}}</td>
          <td><button (click)="editarTicket(ticket.id_ticket)" class="edit-button">Editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="onPrev($event)">Anterior</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages || totalPages === undefined">
        <a class="page-link" (click)="onNext($event)">Siguiente</a>
      </li>    
    </ul>
  </nav>
