/* Animaciones de las filas */
@keyframes fadeInRow {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  tr {
    animation: fadeInRow 1s; /* Aumenta la duración de la animación */
  }
  
  .edit-button {
    transition: background-color 0.5s, transform 0.5s; /* Aumenta la duración de las transiciones */
  }

  .edit-button {
    background-color: #007bff; /* Color de fondo normal */
    color: #fff; /* Color de texto normal */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves para el color de fondo y transformación */
  }
  
  .edit-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
    transform: translateY(-3px); /* Efecto de salto */
  }


  .table-header {
    background-color: #007bff; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
  }

  .table-container {
    width: 80%; /* Ajusta este valor al ancho deseado */
    margin: auto; /* Centra la tabla horizontalmente */
  }

  nav {
    width: 80%; /* Asegúrate de que coincida con el ancho del .table-container */
    margin: auto; /* Centra la paginación horizontalmente */
  }

  .table-striped tbody tr:hover {
    /*background-color: #f8f9fa; 
    transform: scale(1.02);
    transition: background-color 0.5s ease, transform 0.5s ease;*/
  }

  
.navbar {
    padding-bottom: 20px; /* Espacio adicional en la parte inferior del menú */
  }
  
  .table-container {
    margin-top: 20px; /* Espacio adicional en la parte superior de la tabla */
  }

  .title-container {
    text-align: center;
    margin-bottom: 20px; /* Añade un poco de espacio debajo del título */
  }
  
  .title-container {
    text-align: left;
    margin-left: 20px; /* Añade un margen a la izquierda para no pegar el texto al borde */
    margin-bottom: 20px; /* Espacio debajo del título */
    overflow: hidden; /* Esconde cualquier parte del título que se anime desde afuera */
  }
  
  .title-container {
    text-align: left;
    margin-left: 20px; /* Margen a la izquierda para todo el contenedor */
    margin-bottom: 20px; /* Espacio debajo del título */
    overflow: hidden; /* Esconde cualquier parte del título que se anime desde afuera */
  }
  
  .title-container h1 {
    position: relative;
    padding-bottom: 10px; /* Espacio para la línea bajo el texto */
    padding-left: 20px; /* Agrega espacio a la izquierda del texto */
    opacity: 0; /* Inicia invisible para la animación */
    transform: translateX(-100%); /* Comienza fuera del área visible */
    animation: slideIn 0.8s forwards; /* Animación para deslizar hacia dentro */
  }
  
  .title-container h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50%; /* Ancho del pseudoelemento ajustado al 50% */
    background-color: #007bff;
  }

  .fa-exclamation-triangle {
    font-size: 1.2rem;
  }