
<button (click)="mostrarModal(content)">Imprimir Ticket</button>

<div *ngFor="let ticket of mis_tickets" class="ticket-container">
  <h1>
    <img src="../../assets/icons/advertencia.png" alt="Icono de comentarios" class="icono-comentarios">
     Ticket
  </h1>
  <div class="ticket-info">
      <p>
        <span class="title">Ticket :</span> {{ ticket.id_ticket }}<br>
        <span class="title">Fecha :</span> {{ ticket.fecha_alta }}<br>
        <span class="title">Usuario :</span> {{ ticket.usuario?.usuario }}<br>
        <span class="title">Email :</span> {{ ticket.usuario?.email }}
      </p>
  </div>

  <h1>
    <img src="../../assets/icons/comentario.png" alt="Icono de comentarios" class="icono-comentarios">
    Comentarios
  </h1>
  <hr class="thin-blue-line">
  <div *ngIf="ticket.comentarios && ticket.comentarios.length" class="comentarios-container">
      <div *ngFor="let comentario of ticket.comentarios" class="comentario">
        <p>
          <span class="title">Fecha Comentario:</span> {{ comentario.fecha_comentario }}<br>
          <span class="title">Usuario Comentario:</span> {{ comentario.usr }}<br>
          <span class="title">Comentario:</span> {{ comentario.comentario }}
        </p>
      </div>
  </div>

  <h1>
    <img src="../../assets/icons/departamento.png" alt="Icono de comentarios" class="icono-comentarios">
     Departamentos
  </h1>
  <hr class="thin-blue-line">
  <div *ngIf="ticket.departamentos && ticket.departamentos.length" class="departamentos-container">
      <div *ngFor="let deptos of ticket.departamentos" class="departamento">
          <p>
            <span class="title">Departamento:</span>{{ deptos.departamento }}
          </p>
      </div>
  </div>

  <h1>
    <img src="../../assets/icons/archivo-adjunto.png" alt="Icono de comentarios" class="icono-comentarios">
    Adjuntos
  </h1>
  <hr class="thin-blue-line">
  <div class="mosaico-container">
    <div *ngFor="let imagen of imagenes; let i = index" class="imagen-contenedor">
      <ng-container *ngIf="esImagen(imagen)">
        <img [src]="imagen" alt="Imagen" class="imagen" (click)="mostrarImagen(imagen)">
      </ng-container>
      
      <ng-container *ngIf="esPDF(imagen)">
        <div class="pdf-icon" (click)="mostrarImagen(imagen)">
            <img src="../../assets/icons/pdf.png" alt="PDF Icon" class="img_icon">
        </div>
      </ng-container>

      <ng-container *ngIf="esEXCEL(imagen)">
        <div class="pdf-icon" (click)="mostrarImagen(imagen)">
            <img src="../../assets/icons/excel.png" alt="PDF Icon" class="img_icon">
        </div>
      </ng-container>


    </div>
  </div>

  <h1>
    <img src="../../assets/icons/tiempo.png" alt="Icono de comentarios" class="icono-comentarios">
     Línea de Tiempo
  </h1>
  <hr class="thin-blue-line">
  <div *ngIf="ticket.estatus && ticket.estatus.length" class="estatus-container timeline-container">
    <section class="timeline">
      <div class="timeline-line" [ngStyle]="{'--last-status-color': lastStatusColor}"></div> <!-- Línea horizontal -->
      <ul class="timeline-list">
        <li *ngFor="let status of ticket.estatus; let i = index" class="status-item">
          <div [class]="getStatusClass(status.estatus_info.estatus_desc)" class="status-content">
            <div class="status-info">
              <time>{{ status.fecha }}</time>
              {{ status.estatus_info.estatus_desc || 'N/A' }}
            </div>
          </div>          
        </li>
      </ul>
    </section>
  </div>

</div>


<div [@scrollAnimation]="scrollState" class="ticket-container" *ngIf="showForm && this.id_estatus_ticket != 3">
  <h1>Editar Ticket</h1>
  <hr>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="dirigidoA">¿Incluir Otro(s) Departamento(s)? :</label>
        <select class="form-control" id="dirigidoASelect" formControlName="dirigidoA" multiple>
          <option value="0" selected>No</option>
          <option *ngFor="let depto of datosDepartamentos" [value]="depto.id_departamento" 
                  [disabled]="departamentosIncluidos.includes(+depto.id_departamento)">
            {{ depto.departamento }}
          </option>
        </select>
          <div *ngIf="myForm.get('dirigidoA')?.hasError('required') && (myForm.get('dirigidoA')?.dirty || myForm.get('dirigidoA')?.touched)" @fadeInOut class="error-message">
            <span class="error-icon">!</span>
           Indica si no quieres inlcuir más departamentos en el ticket, o selecciona uno o mas.
          </div>
    </div>
    <div class="form-group">
        <label for="comentario">Comentario</label>
        <textarea class="form-control" id="comentarioTxt" rows="3" formControlName="comentario" (input)="resetComentarioTouched()"></textarea>
        <div *ngIf="myForm.get('comentario')?.hasError('required') && (myForm.get('comentario')?.dirty || myForm.get('comentario')?.touched)" @fadeInOut class="error-message">
            <span class="error-icon">!</span>
            Un comentario es requerido.
        </div>
    </div>

    <div class="form-group">
        <label for="files" class="form-label">Seleccione uno o mas archivos</label>
        <div class="input-container">
          <input class="form-control" type="file" id="files" multiple (change)="onFileSelected($event)" formControlName="files">
          <span class="icon" (mouseenter)="showErrorMessage = true" (mouseleave)="showErrorMessage = false">ⓘ</span>
        </div>
        <div class="error-message" *ngIf="showErrorMessage" @fadeInOut>
            <span class="error-icon">!</span>
            Solo se permiten archivos con extensiones .jpg, .png, .xls, .doc o .pdf.
        </div>
        <div *ngIf="myForm.get('files')?.hasError('invalidExtension') && (myForm.get('files')?.dirty || myForm.get('files')?.touched)" @fadeInOut>
            <span class="error-icon">!</span>
            Solo se permiten archivos con extensiones .jpg, .png, .xls, .doc o .pdf
        </div>
    </div>

    <div class="form-group">
      <label for="derivado"> ¿Cambiar estatus? :</label>
      <select id="derivado" formControlName="derivado">
        <option value="0" selected>No</option>
        <ng-container *ngFor="let status of posiblesEstatus">
          <option [value]="status.id_estatus" [disabled]="isUltimoEstatus(status)">
            {{ status.estatus_desc }}
          </option>
        </ng-container>
      </select>
    </div>
    

    <button mat-raised-button color="primary" type="submit">Modificar</button>
</form>
</div>
  


    <ng-template #content let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="ticketModalLabel">Detalles del Ticket</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <!-- Aquí coloca el contenido del ticket -->
        <div *ngFor="let ticket of mis_tickets">
          <p>Ticket : {{ ticket.id_ticket }}</p>
          <p>Fecha : {{ ticket.fecha_alta }}</p>
          <p>Usuario : {{ ticket.usuario?.usuario }}</p>
          <p>Email : {{ ticket.usuario?.email }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="imprimir()">Imprimir</button>
      </div>
    </ng-template>


    <div #modal id="modal" class="modal">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <div id="contenidoModal" class="contenido-modal">
      </div>
    </div>
    
    
    



